@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-rendering: optimizeSpeed;
  line-height: calc(1em + 0.6rem);
  user-select: none;
  overflow: auto;
  font-family: 'Encode Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html::-webkit-scrollbar {
  display: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 200;
}
.neon-text {
  color: #abd5ff;
  text-align: center;
  font-weight: 200;
  letter-spacing: 3px;
}

.weather-app {
  position: relative;
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.4rem;
  padding: 2rem;
}

.search-box {
  width: 16rem;
  padding: 10px 15px;
  color: #abd5ff;
  border: 1px solid #abd5ff;
  outline: none;
  border-radius: 3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  background-color: #000;
  box-shadow: 0 6px 10px rgba(171, 213, 255, 0.6) inset;
  transition: 0.2s ease-out;
}
.search-box::placeholder {
  opacity: 0.5;
  color: #abd5ff;
}

.location > .date {
  font-size: clamp(1.4rem, 2.2vw, 2rem);
  line-height: calc(1em + 0.7rem);
}
.location > .city {
  font-size: clamp(2rem, 2.6vw, 2.4rem);
  margin-bottom: 0.5rem;
}

.location div {
  padding: 1.2rem 0;
}

.current div {
  padding: 1.2rem 0;
}

.current .temp {
  font-size: clamp(2.8rem, 2.6vw, 3.2rem);
}

.current .weather,
.current .hi-low,
.current .wind,
.current .visibility,
.current .feelsLike,
.current .humidity {
  font-size: clamp(1.4rem, 2.2vw, 2rem);
}
@media screen and (max-width: 600px) {
  .weather-app {
    width: 100%;
    height: 100%;
  }
}
